@font-face
{		font-family: MuseoSans500;
		src:url(MuseoSans_500.otf);
}

@font-face
{		font-family: MuseoSans;
		src:url(MuseoSans-300.otf);
}
body {
	background: white}

#container {
	width: 1080px;
	margin: 0 auto;
	text-align: left;
	background: white;
	font-family:MuseoSans;
}

div#naglowek {
		background: #85A314 url(bg1080.png);
		text-align: center;
		height: 350px; 
}

div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85A314;
}

div#menu li {
    float: left;
}

div#menu li a {
    display: block;
    color: white;
		font-family:MuseoSans500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#menu li a:hover {
    background-color: #5C3896;
}
div.ramka {
	padding:10px 0 0 0 
}

div#zawartosc {
		padding: 10px;
		background: #4A7B26;
		color: white;
}

#formularz {
width: 500px;
height: 300px;
float: right;
margin: 0px;
}

#stopka {
padding: 10px;
background: #663399;
color: white;
height: 150px
}
#stopka img {
float: left;	
padding: 0 10px;}

#kalendarz { width:100%;
height: 600px;
}

@media only screen and (max-width: 920px) {

div#container {
width: auto;}

#stopka img {
float: none;}
#formularz {
width: auto;
float: none;
}
}
